[type="password"] {
  background-color: yellow;
margin-left: 20%;
float: left;
height: 25%;
  min-width: 500px;

  position: relative;
  position:absolute;
}

[data-fruit-name] {
  color: red;
display: inline;
grid-template-columns: 2;
  margin-left: 15vw;
  margin-right: 15vw;
}


